.component-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--blue-bay-0061b3);
}
.vector-icon {
  position: absolute;
  height: 45.83%;
  width: 45.83%;
  top: 27.08%;
  right: 27.08%;
  bottom: 27.08%;
  left: 27.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  width: 48px;
  height: 48px;
}
